.container  {
     background: rgba(240, 222, 125, 0.1);
     font-family: "Helvetica Neue",;
}
.wrapper    {
    width: 100%;
    display: flex;
    background: rgba(240, 222, 125, 0.1);
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wrapper-item {
    position: relative;
    width: 30%;
    background: #fff
}

.card-details > p   {
    color: rgba(0,0,0,0.5);
    padding-left: 1.5rem;
}

.card-details > h3  {
    padding-left: 1.5rem;
}

.card-img {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

img {
    width: 114px;
    height: 114px;
    border-radius:50%
}

li  {
    padding-bottom: 1.5rem;
}
